[Unit]
Description=Store Quotes to MongoDB
After=network.target redis-server.service mongod.service real_time_quote_server.service
 
[Service]
Type=simple
User=pramod
Group=pramod
ExecStart=/home/pramod/Code/brahmagupta/scripts/store_quotes_to_mongodb.sh
Restart=always
WorkingDirectory=/tmp
Nice=19
LimitNOFILE=16384
 
[Install]
WantedBy=multi-user.target
